<meta charset="UTF-8">
<title>HotJar</title>

<!-- for loading local css-->
<link rel="stylesheet" href="/css/styles.css" >
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"></link>

