<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>
    <body>
        <h1 class="cntr">Welcome to HotJot Pricing</h1>
        <div class="container">
          <div class="row">
            <div class="col">
              <%- include('../pages/control'); %>
            </div>
            <div class="col">
              <%- include('../pages/variant1'); %>
            </div>
          </div>
        </div>
    </body>
</html>